@import "~stylus/globals/mixins.styl"
@import "~stylus/globals/default.styl"
@import "~stylus/globals/theme.styl"

.todo-app-base
    background-color: red;
    height: 500px;

.todo-list
    padding: 10px;
    border-width: 3px;
    border-style: dotted;
    border-radius: 3px;

.todo-list-item
    padding: 5px;
    background-color: teal;

.todo-container
    padding: 100px;
