primaryTextColor = blue
primaryShadowColor = grey
primaryBackgroundColor = black
primaryBorderColor = #41299c

secondaryTextColor = blue
secondaryShadowColor = grey
secondaryBackgroundColor = black
secondaryBorderColor = #41299c

errorTextColor = blue
errorShadowColor = grey
errorBackgroundColor = black
errorBorderColor = #41299c

warningTextColor = blue
warningShadowColor = grey
warningBackgroundColor = black
warningBorderColor = #41299c

btnPrimaryTextColor = blue
btnPrimaryShadowColor = grey
btnPrimaryBackgroundColor = black
btnPrimaryBorderColor = #41299c
