@import "~stylus/globals/reset.styl"
@import "~stylus/globals/mixins.styl"
@import "~stylus/globals/default.styl"
@import "~stylus/globals/theme.styl"

.base-component
    height: 500px
    background-color white
    border-color black
    border-radius  10px
    border-width 5px
    border-style dotted